/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-behavior: smooth;
}

/*Deskstop*/
header{
    border-bottom: 1px solid black;
    width: 100%;
}

.container{
    max-width: 1280px; /*banyak dipakai di seluruh dunia*/
    width: 100%;
    margin: 0 auto; /*0 "auto" kiri kanan*/
    display: block;
    background-color: white;
}

.Logo{
    height: 80px;
    width: 80px;
    border-radius:30%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.menu-item{
    border: 3px solid #40513B;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #EDF1D6;
    color: #40513B;
    text-decoration: none;
}

.home-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    row-gap: 50px;
}

.home-title > h1{
    font-size: 50px;
    font-weight: 700;
}
.home-title > h6{
    font-size: 20px;
}
.about{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.about-contact{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.about-image{
    height: 100%;
    width: 400px;
}
.content-caption{
    text-align: center;
    font-style: italic;
    color: black;
    margin-bottom: 20px;
}
.content-person{
    display: flex;
    gap: 15px;
    align-items: center;
}
.content-person>img{
    border-radius: 50%;
}
.person-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.person-info>h6{
    font-weight: 700;
}
.person-info>p{
    margin-top: 0px;
    color: black;
    font-style: italic;
}
.border{
    border: 3px solid #EDF1D6;
    width: 200px;
}
.information-title{
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.information-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.information-list>li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.list-number{
    background-color: #EDF1D6;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #40513B;
    font-size: 24px;
}
.contact{
    width: 40%;
}
.contact-card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: #EDF1D6;
}
.card-title>h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    display: flex;
    flex-direction: column;
}
.input>label{
    font-weight: 700;
}
.submitt{
    color: #EDF1D6;
    background-color: black;
    border: 3px solid #40513B;
}
.our-package{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    row-gap: 50px;
    background-color: #EDF1D6;
}

.our-package > h1{
    font-size: 50px;
    font-weight: 700;
}

.places-option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.option-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}
.list-image{
    background-color: #EDF1D6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #40513B;
}
.list-deskripsi{
    width: 300px;
}
.list-deskripsi>h6{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

#call-us{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}
.call-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    row-gap: 50px;
}

.call-us > h1{
    font-size: 50px;
    font-weight: 700;
}
.call-us > h6{
    font-size: 20px;
}
.button{
    font-weight: 800;
    background-color: black;
    padding: 21px 94px;
    border: 4px solid #40513B;
    border-radius: 6px;
    
}
.button>a{
    text-decoration: none;
    color: white;
}
.button a:hover{
    color: aqua;
}
footer{
    background-color: black;
    color: aliceblue;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content>h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content>p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0; 
}
.socials>li{
    margin: 0 10px;
}
.socials>a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom>p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-decoration: uppercase;
    opacity: .4;
    font-weight: 200;
}
